div#userCases {
	margin-bottom: 38px;
}

div.caseHeader {
	height: 48px;
	border: 0;
	border-top: 1px #c5c5c5 solid;
	background: url(/style/images/backgrounds/case_background.gif) repeat-x;
}

table.caseTable tBody tr.ruled{
	background: #E8F1FC;
}

table.caseTable tbody tr td, table.caseTable thead tr th {
	font-family: Arial, Helvetica, sans-serif;
}

table.caseTable td a, table.caseTable td a:hover {
	font-family: Arial, Helvetica, sans-serif;
}

div#userCases div.caseHeader {
	border-top: 0;
}

html>body div.caseHeader {
	height: auto;
	min-height: 48px;
}

div.caseHeading {
	font-family: Arial, Helvetica, sans-serif;
}

div.caseNavigation select {
	font-family: Arial, Helvetica, sans-serif;
}

div.caseNavigation {
	top: 16px;
}

div.caseNavigation ul li {
	font-family: Arial, Helvetica, sans-serif;
}

table.caseTable thead tr {
	background: url(/style/backgrounds/table_header_background.gif) repeat-x #D6D6D6;
	text-align: left;
}

table.caseTable tr.newEntry td.messageSubject a {
	background: url(/idegaweb/bundles/com.idega.block.process.bundle/resources/new.gif) right no-repeat;
	padding-left: 0;
	padding-right: 36px;
}

table.caseTable td img {
	vertical-align: bottom;
	width: 15px;
	height: 14px;
}

table.caseTable thead tr th {
	border-top: 1px #A4A4A4 solid;
	border-bottom: 1px #A4A4A4 solid;
}

table.caseTable tbody tr {
	background-color: #FFFFFF;
	text-align: left;
}

table.caseTable tBody tr td {
	border-top: 0;
	border-bottom: 1px #D5D5D5 solid;
}

table.caseTable th.firstColumn, table.caseTable td.firstColumn {
	padding-left: 17px;
	text-align: left;
}

table.caseTable th.lastColumn, table.caseTable td.lastColumn {
	padding-right: 17px;
}

div.caseNavigation select {
	font-family: Arial, Helvetica, sans-serif;
	height: 15px;
	border: 1px #d5d5d5 solid;
	width: 85px;
}

div.caseNavigation ul li {
	font-weight: bold;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #303030;
}


div#messageViewer div.caseHeading {
	display: none;
}

div#messageViewer div.caseHeader {
	border-bottom: 1px #a4a4a4 solid;
}

div.messageSubjectHeading {
	display: block;
	position: relative;
	top: 18px;
	left: 16px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #303030;
	text-shadow: #FFFFFF 2px 2px 1px;
	width: auto;
}

div#messageSubject {
	display: none;
}

div.messageItem {
	margin-bottom: 6px;
}

div#messageBody {
	padding: 13px 15px;
	line-height: 15px;
}

div.caseElement div.buttonLayer {
	clear: both;
	margin: 20px 12px 12px 0;
	text-align: right;
}