/** Q&A Override **/


.questions_and_answers {
	width: auto; 
	margin: 22px 15px;
}


/* style definitions for administration of categories part */
.questions_and_answers .category_admin {   
	width: auto;
}

.questions_and_answers .category_admin .category_management { 
	margin-top: 2px;
	display: block; 
	float: left;    
}
.questions_and_answers .category_admin .category_help {
	display: block;   
	float: right;    
}
.questions_and_answers .category_admin .clearer {
	clear: both;
	width: 1px; height: 1px;    
}


/* style definitions for administration of questions part */
.questions_and_answers .questions_admin {
	display: block;
}

.questions_and_answers .questions_admin .category {
	display: none;
}

.questions_and_answers .questions_admin .item{
	display: block;
}

.questions_and_answers .questions_admin .item p.number {
	display: none;
}

/* style definitions for list of questions and answers part */
.questions_and_answers .questions_list {
	margin-top: 0;
}
.questions_and_answers .questions_list .category{
	display: none;
}

.questions_and_answers .questions_list .item{
    margin-bottom: 28px;
    margin-left: 0;
    margin-top: 0;    
}

.questions_and_answers .questions_list .item .question{
	padding-left: 20px;
	margin-bottom: 8px;
	font-size: 11px;
	font-weight: bold;
	background: url(images/bullets/blue_bullet.gif) no-repeat top left;
}

.questions_and_answers .questions_list .item .question .prefix{
	display: none;
}

.questions_and_answers .questions_list .item .answer{
	font-size: 11px;
	font-weight: normal;
}

.questions_and_answers .questions_list .item .answer .prefix{
	display: none;
}

.questions_and_answers .questions_list .item .answer .body  {
	margin-left: 20px;
}

.questions_and_answers .questions_list .item a.home {
	display: none;
}

/** More override **/
.boxContent .questions_and_answers {
	width: auto; 
	margin: 0;
}

.boxContent .questions_and_answers .category_admin {   
    display: block;
}

.boxContent .questions_and_answers .category_admin .category_help {
    display: none;
}

.boxContent .questions_and_answers .category_admin .clearer {
    display: none;
}

.boxContent .questions_and_answers .questions_admin {
    width: auto;
}

.boxContent .questions_and_answers .questions_admin .item .question_form {
    display: none;
}

.boxContent .questions_and_answers .questions_admin .new_and_deleted_questions{
    display: none;
}

.boxContent .questions_and_answers .questions_admin .new_and_deleted_questions{
    display: none;
}

.boxContent .questions_and_answers .questions_admin .category {
    clear: both;
    display: none;
}

.boxContent .questions_and_answers .questions_admin .item{
    margin: 0;
    display: block;
}

.boxContent .questions_and_answers .questions_admin .item p{
    margin: 0;
    padding: 0; 
}

.boxContent .questions_and_answers .questions_admin .item p.number{
    display: none;
}

.boxContent .questions_and_answers .questions_admin .item p.title{
    float: left;
    background: url(/style/images/bullets/bullet_arrows.gif) no-repeat top left;
    padding-left: 11px;
    margin-bottom: 3px;
    line-height: 11px;
}

.boxContent .questions_and_answers .questions_admin .item p.title a {
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #191919;
    font-size: 10px;
}

.boxContent .questions_and_answers .questions_admin .item p.title a:hover {
    text-decoration: underline;
}

.boxContent .questions_and_answers .questions_admin .item p.clearer{
    clear: both;
font-size: 1px;
}

.boxContent .questions_and_answers .questions_list {
    display: none;
}
/* CSS Document */

