form.schoolForm .listTable td, th {
	font-size: 11px;
}

form.schoolForm .InterfaceButton {
	margin-bottom: 20px;
}

form.schoolForm .listTable tbody tr td {
	padding: 5px 8px;
	border-bottom: 1px #D5D5D5 solid;
}

form.schoolForm .listTable thead tr th {
	background-color: #E8E8E8;
	padding: 5px 8px;
	font-weight: bold;
	border-top: 0;
	border-bottom: 1px solid #D7D7D7;
}

form.schoolForm .listTable .listTable_oddRow {
	background-color: #FFFFFF;	
}

form.schoolForm .listTable .listTable_evenRow {
	background-color: #FFFFFF;	
}

table.adminTable thead tr th, table.adminTable tfoot tr td {
	text-align: left;
	background-color: #E8E8E8;
	padding: 5px 8px;
	font-weight: bold;
	border-top: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
}

table.adminTable tfoot tr td {
	border-top: 0;
}

table.adminTable tbody tr td {
	padding: 5px 8px;
	border-bottom: 1px #D5D5D5 solid;
}

table.adminTable td, table.adminTable th {
	font-size: 11px;
}


table.adminTable td img {
	height: 14px;
	width: 15px;
}

table.adminTable tBody tr.ruled{
	background: #E8F1FC;
}

table.adminTable .firstColumn {
	padding-left: 17px;
}

table.adminTable .lastColumn {
	padding-right: 17px;
}

form#afterSchoolCareCreator div#keycode,
form#afterSchoolCareCreator div#latitude,
form#afterSchoolCareCreator div#longitude,
form#afterSchoolCareCreator div#juniorHigh,
form#afterSchoolCareCreator div#afterSchoolCareProvider,
form#afterSchoolCareCreator div#hasReview {
	display: none;
}